* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
::selection {
  background-color: wheat;
  color: black;
}
body {
  background-color: rgb(41, 41, 41);
}

.hero {
  width: 100%;
  padding: 20px;
}

.nav-bar {
  width: 100%;
  height: 60px;
  padding-top: 10px;
  background-color: rgb(61, 61, 61);
  box-shadow: 2px 2px 8px black;
  border-radius: 10px;
  margin-bottom: 20px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.nav-bar ul li a {
  text-decoration: none;
  color: wheat;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 10px;
  transition: 0.5s all ease-in-out;
  display: inline-block;
  z-index: 10;
}

.nav-bar ul li :hover {
  background-color: wheat;
  color: black;
  border-radius: 15px;
  transform: rotate(360deg);
}

.menu-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 4px;
  background-color: wheat;
  border-radius: 5px;
}

.hero_content {
  display: flex;
  width: 100%;
}
.hero_content .item {
  width: 24%;
  height: 500px;
  padding: 10px;
  border-radius: 50px;
  transition: 0.8s all ease-in-out;
}

.hero_content .item img {
  width: 100%;
  height: 300px;
  padding-left: 5px;
  border-radius: 25px;
}
.hero_content .item:hover {
  box-shadow: 2px 2px 12px wheat;
  transform: rotateY(360deg);
}

@media (min-width: 0px) and (max-width: 625px) {
  .hero_content {
    flex-flow: column nowrap;
  }
  .hero_content .item {
    width: 100%;
  }
  .item p {
    display: none;
  }

  .menu-toggle {
    display: flex;
    align-items: flex-end;
    padding: 10px;
  }

  .nav-bar ul {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(49, 49, 49, 1);
    z-index: 999;
    text-align: center;
    padding-top: 50px;
  }

  .nav-bar ul.active {
    display: flex;
  }

  .nav-bar ul li {
    margin: 20px 0;
  }
}

@media (min-width: 626px) and (max-width: 875px) {
  .hero_content {
    flex-flow: row wrap;
  }
  .hero_content .item {
    width: 48%;
  }

  .menu-toggle {
    display: flex;
    align-items: flex-end;
    padding: 10px;
  }

  .nav-bar ul {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(49, 49, 49, 1);
    z-index: 999;
    text-align: center;
    padding-top: 50px;
  }

  .nav-bar ul.active {
    display: flex;
  }

  .nav-bar ul li {
    margin: 20px 0;
  }
}

@media (min-width: 876px) and (max-width: 1100px) {
  .hero_content {
    flex-flow: row wrap;
  }

  .hero_content .item {
    width: 33.33%;
  }
  .menu-toggle {
    display: flex;
    align-items: flex-end;
    padding: 10px;
  }

  .nav-bar ul {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(49, 49, 49, 1);
    border-radius: 15%;
    z-index: 999;
    text-align: center;
    padding: 50px;
  }

  .nav-bar ul.active {
    display: flex;
  }

  .nav-bar ul li {
    margin: 20px 0;
  }
}
